/* Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

:root {
    --primary-color: #fff;
    --accent-color: #DDA39B;
    --text-color: #333;
    --sub-text-color: rgb(18 18 18 / 75%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Assistant", sans-serif;
}

section {
    padding: 40px 0;
}

.custom-container {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    padding: 15px 0;
    position: relative;
    background-color: var(--primary-color);
}

.main-logo {
    max-width: 150px;
}

ul.menu-items-container {
    margin-bottom: 0;
    padding-left: 0;
    gap: 20px;
    flex-wrap: wrap;
}

ul.menu-items-container>li>a {
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    color: var(--sub-text-color);
    transition: .6s;
}

nav>ul.menu-items-container>li:last-child>a {
    color: #bf8c88;
}

ul.menu-items-container>li>a:hover {
    transition: .6s;
    text-decoration: underline;
}

.header-item-wrapper {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
}

.header-right>ul>li>form {
    height: 40px;
    position: relative;
    width: 205px;
}

.header-right>ul>li>form+button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 20px;
}

.header-right>ul>li>form>input {
    font-size: 14px;
    height: 100%;
    padding: 0px 20px;
    text-transform: capitalize;
    color: var(--text-color);
    border-radius: 11px;
    outline: none;
    border: 1px solid var(--text-color);
    width: 100%;
    padding-right: 35px;
}

.header-right>ul>li>form>button {
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: var(--text-color);
    top: 50%;
    transform: translate(-10px, -50%);
}

.header-right>ul>li>a {
    font-size: 20px;
    color: var(--sub-text-color);
}

.mega-menu {
    width: 100%;
    position: absolute;
    background: var(--primary-color);
    bottom: 0;
    transform: scaley(0) translate(0px, 100%);
    transform-origin: bottom;
    transition: .6s;
    visibility: hidden;
    opacity: 0;
    left: 0;
    z-index: 999;

}

.mega-menu ul>li>a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    color: var(--sub-text-color);
    transition: .6s;
    display: inline-block;
}

.mega-menu ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mega-menu {
    padding: 30px 50px;
    border-top: 1px solid #ededed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.mega-menu ul>li>a:hover {
    font-weight: 500;
    text-decoration: underline;
    transition: .6s;
}

.mega-menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.mega-menu-container .single_column>a {
    font-size: 20px;
    text-decoration: none;
    transition: .6s;
    color: var(--sub-text-color);
    font-weight: 500;
    display: inline-block;
    margin-bottom: 15px;
}

.mega-menu-container .single_column>a:hover {
    transition: .6s;
    font-weight: 600;
    text-decoration: underline;
}

/*Mega menu open class*/
.mega-menu--open {
    visibility: visible;
    opacity: 1;
    transform: scaley(1) translate(0px, 100%);
    transition: .6s;
}

/*Sidebar Style Start*/
button.sidebar-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #ededed;
    transition: .6s;

}

button.sidebar-button:hover {
    background: var(--accent-color);
    transition: .6s;
    color: var(--primary-color);
}

.sidebar {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
}


.sidebar-wrapper .sidebar-bottom {
    bottom: 0;
    position: absolute;
    padding: 20px;
    background: #ededed;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-wrapper {
    position: relative;
    height: 100%;
    width: 300px;
    background: var(--primary-color);
    position: relative;
    z-index: 99;
    transform: translate(-40%, 0px);
    visibility: hidden;
    opacity: 0;
}

.sidebar-header>button {
    width: 45px;
    height: 45px;
    background: #ededed;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    transition: .6s;
}

.sidebar-header>button:hover {
    background: var(--accent-color);
    color: var(--primary-color);
    transition: .6s;
}

.sidebar-header {
    border-bottom: 1px solid #ededed;
    padding: 20px;
}

.sidebar-body>ul {
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-body>ul>li>a {
    font-size: 18px;
    text-decoration: none;
    color: var(--sub-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 400;
    transition: .6s;
}

.sidebar-body>ul>li>a:hover {
    background: #ededed;
    transition: .6s;

}

.sidebar-body {
    padding: 5px 0;
}

.sidebar-background {
    width: 100%;
    background: #00000061;
    height: 100%;
    position: absolute;
}

.currancy>.current-currancy {
    font-size: 14px;
    font-weight: 400;
    transition: .6s;
    cursor: pointer;
}


.currancy>.current-currancy:hover {
    transition: .6s;
    text-decoration: underline;
}

.currancy>ul {
    margin-bottom: 0;
    padding-left: 0;
    padding: 10px 0;
    position: absolute;
    top: 0;
    background: var(--primary-color);
    width: 204px;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    top: 0;
    transform: translate(0px, -120%);
    border: 1px solid #ededed;
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
}

.currancy-dropdown--open {
    transform: translate(0px, -100%) !important;
    transition: .6;
    visibility: visible !important;
    opacity: 1 !important;
}

.currancy>ul>li {
    padding: 5px 20px;
    font-size: 14px;
    cursor: pointer;
}

.currancy>ul>li:hover {
    text-decoration: underline;
    transition: .6s;
}

.currancy {
    position: relative;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-links>a {
    font-size: 18px;
    color: var(--text-color);
    transition: .6s;
}

.social-links>a:hover {
    color: var(--accent-color);
    transition: .6s;
}

.sidebar--open {
    visibility: visible;
    opacity: 1;
}

.sidebar-wrapper--open {
    transform: translate(0%, 0px);
    visibility: visible;
    opacity: 1;
    transition: .6s;
}


/****Product slider sections style*/

.single-product .product-img {
    position: relative;
    height: 370px;
    padding: 20px;
    background: var(--primary-color);
}

.single-product .product-img .front-img {
    width: 100%;
    height: 100%;
    z-index: 9;
    position: relative;
    transition: .6s;
    background: var(--primary-color);
}

.single-product .product-img .back-img {
    position: absolute;
    width: 100%;
    height: 370px;
    inset: 0;
    transition: .6s;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.single-product .product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.single-product .product-img:hover .back-img {
    opacity: 1;
    visibility: visible;
}

.single-product .product-img:hover .front-img {
    visibility: hidden;
    opacity: 0;
    transition: .6s;
}

.product-details {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background: #F6F6F6;
    transition: .6s;
    position: relative;
}

.product-ratings>span {
    color: var(--accent-color);
    margin-bottom: 5px;
}

.product-details>a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 5px;
}

.product-details>b {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}

.product-tags>a {
    border: 1px solid var(--text-color);
    padding: 7px 10px;
    border-radius: 11px;
    font-size: 15px;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: .6s;
}

.product-tags>a:hover {
    background: var(--text-color);
    color: var(--primary-color);
    transition: .6s;
}

.product-details:hover .product-tags {
    visibility: visible;
    opacity: 1;
    transition: .6s;
}

.product-tags {
    opacity: 0;
    position: absolute;
    bottom: 10px;
    visibility: hidden;
    transition: .6s;
}

.product-details:hover .product-tags {
    transition: .6s;
    visibility: visible;
    opacity: 1;
}

.product-details:hover {
    padding-bottom: 45px;
    transition: .6s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    font-size: 21px;
    color: var(--text-color) !important;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.single-product {
    border: 1px solid #9999999e;
    border-radius: 10px;
    overflow: hidden;
    background: #F6F6F6;
}

.section-title>h2 {
    font-weight: 700;
    font-size: 40px;
}

.product-slider--wrapper {
    position: relative;
}

.swiper-button-next {
    transform: translate(40px, 0px);
}

.swiper-button-prev {
    transform: translate(-40px, 0px);
}

.view-all--btn>a {
    padding: 10px 35px;
    text-decoration: none;
    font-weight: 500;
    display: block;
    border: 1px solid var(--text-color);
    border-radius: 11px;
    font-size: 15px;
    color: var(--text-color);
    margin-top: 40px;
    transition: .6s;
}

.view-all--btn>a:hover {
    font-weight: 600;
    border-width: 2px;
    transition: .6s;
}
section.product-slider .custom-container {
    padding: 0px 135px;
}


/*** Product grid style***/
.product-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.single-grid-items.single-product .product-img img {
    object-fit: cover;
}

.single-grid-items.single-product .product-img {
    height: 475px;
    padding: 0;
}
.single-grid-items.single-product .product-img .back-img{
    height: 100%;
}
section.product-grid .view-all--btn>a {
    background: var(--text-color);
    color: var(--primary-color);
}

section.product-grid .view-all--btn>a:hover {
    background: var(--primary-color);
    color: var(--text-color);
    transition: .6s;
}









@media only screen and (max-width: 1600px) {
    .custom-container {
        max-width: 95%;
    }
  
}
@media only screen and (max-width: 1400px) {
    section.product-slider .custom-container {
        padding: 0px 0px;
    }
    .single-grid-items.single-product .product-img {
        height: 400px;
    }
    .single-grid-items.single-product .product-img .back-img {
        height: 400px;
    }
}
@media only screen and (max-width: 1100px) {
    .single-product .product-img {
        height: 250px;
    }

    .single-product .product-img .back-img {
        height: 250px;
    }
    .single-grid-items.single-product .product-img {
        height: 310px;
    }
    .single-grid-items.single-product .product-img .back-img {
        height: 310px;
    }

}

@media only screen and (max-width: 991px) {
    .product-grid-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .header-right>ul>li>form {
        width: 164px;
    }

    .product-slider--wrapper {
        margin-inline: 20px;
    }

    .single-product .product-img {

        height: 200px;
    }

    .single-product .product-img .back-img {
        height: 200px;
    }

}

@media only screen and (max-width: 768px) {
    .section-title>h2 {
        font-size: 30px;
    }
    .product-details>a {
        font-size: 15px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .product-grid-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
        
}

@media only screen and (max-width: 500px) {
    .single-grid-items.single-product .product-img {
        height: 400px;
    }
    .single-grid-items.single-product .product-img .back-img {
        height: 400px;
    } 
    .header-item-wrapper {
        display: grid;
        grid-template-columns: 1fr 150px 1fr;
    }
}